<a href="https://colab.research.google.com/github/Shubham81155/data-science3sem/blob/main/datascienceclasses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
a=int(input())
b=int(input())
print("The product of a*b is",a*b)

3
3
The product of a*b is 9

In [2]:
a=int(input("enter The numbeer"))
if(a<0):
  a=-a
print("The abs value of a given number is",a)

enter the numbeer-9
the abs value of a given number is 9

In [7]:
a=int(input("Enter The number"))
if a%2==0:
  print("The number is even")
if a%2!=0:
  print("The number is odd")

Enter the number3
the number is odd

#smallest number

In [9]:
p=int(input())
q=int(input())
if(p<q):
  print(p,"is smallest number")
else:
  print(q,"is smallest number")

4
5
4 is smallest number

wap to accept three subject marks and find The studentis pass or fail?

In [10]:
s1=int(input("Enter The first subject"))
s2=int(input("Enter The Second subject"))
s3=int(input("Enter The Third subject"))
if s1>=35 and s2>=35 and s3>=35:
  print("The student is pass ")
else:
  print("The student is fail")

Enter the first subject45
Enter the Second subject56
Enter the Third subject67
The student is pass

wap to find The biggest numbeer among The given  two numbers?

In [15]:
a=int(input("Enter The first "))
b=int(input("Enter The Second "))
c=int(input("Enter The Third "))
if a>b:
  if a>c:
    print(a,"is greater")
  else:
    print(c,"is greater")
else:
  if b>c:
    print(b,"is greater")
  else:
    print(c,"is greater")

Enter the first 4
Enter the Second 4
Enter the Third 4
4 is greater

wap to find The given number is in The range of 1 to 10 or 11 to 20 or 21 to 30 or 31 to 40 or greater than 40.

In [16]:
n=int(input("Enter number"))
if n>=1 and n<=10:
  print("The given number is in The range of 1 to 10")
elif n>=11 and n<=20:
  print("The given number is in The range of 11 to 20")
elif n>=21 and n<=30:
  print("The given number is in The range of 21 to 30")
elif n>=31 and n<=40:
  print("The given number is in The range of 31 to 40")
else:
  print("The given  number is greater than 40")

Enter number34
The given number is in The range of 31 to 40