<a href="https://colab.research.google.com/github/Shubham81155/data-science3sem/blob/main/datascienceclasses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
a=int(input())
b=int(input())
print("The product of a*b is",a*b)

3
3
The product of a*b is 9

In [ ]:
a=int(input("enter The numbeer"))
if(a<0):
  a=-a
print("The abs value of a given number is",a)

enter the numbeer-9
the abs value of a given number is 9

In [ ]:
a=int(input("Enter The number"))
if a%2==0:
  print("The number is even")
if a%2!=0:
  print("The number is odd")

Enter the number3
the number is odd

#smallest number

In [ ]:
p=int(input())
q=int(input())
if(p<q):
  print(p,"is smallest number")
else:
  print(q,"is smallest number")

4
5
4 is smallest number

**wap to accept three subject marks and find The studentis pass or fail?**

In [ ]:
s1=int(input("Enter The first subject"))
s2=int(input("Enter The Second subject"))
s3=int(input("Enter The Third subject"))
if s1>=35 and s2>=35 and s3>=35:
  print("The student is pass ")
else:
  print("The student is fail")

Enter the first subject45
Enter the Second subject56
Enter the Third subject67
The student is pass

**wap to find The biggest numbeer among The given  two numbers?**

In [ ]:
a=int(input("Enter The first "))
b=int(input("Enter The Second "))
c=int(input("Enter The Third "))
if a>b:
  if a>c:
    print(a,"is greater")
  else:
    print(c,"is greater")
else:
  if b>c:
    print(b,"is greater")
  else:
    print(c,"is greater")

Enter the first 4
Enter the Second 4
Enter the Third 4
4 is greater

**wap to find The given number is in The range of 1 to 10 or 11 to 20 or 21 to 30 or 31 to 40 or greater than 40.**

In [ ]:
n=int(input("Enter number"))
if n>=1 and n<=10:
  print("The given number is in The range of 1 to 10")
elif n>=11 and n<=20:
  print("The given number is in The range of 11 to 20")
elif n>=21 and n<=30:
  print("The given number is in The range of 21 to 30")
elif n>=31 and n<=40:
  print("The given number is in The range of 31 to 40")
else:
  print("The given  number is greater than 40")

Enter number34
The given number is in The range of 31 to 40

**wap to find the given person is eligible for vote or not?**

In [ ]:
age=int(input("Enter the age:"))
if age>=18:
  print("The pertson is eligible for vote")
else:
   print("The pertson is not eligible for vote")

Enter the age:12
The pertson is not eligible for vote

**wap to accept two inputs  one is person name and second is gender.
If the gender is male print welcome to mr. name or female print welcome to ms name**

In [ ]:
name=input("Enter the name ")
gender=input("Enter the gender ")
if gender=="male":
  print("Welcome mr.",name)
else:
  print("Welcome ms.",name)

Enter the name shubham
Enter the gender male
Welcome mr. shubham

**WHILE Loop**

In [ ]:
i=0
while (i<11):
  print("HELLO WORLD")
  i+=1

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

**FOR Loop**

In [ ]:
for i in range(0,11,1):
  print("HELLO WORLD")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [ ]:
#SEQUENCE OF CHARACTER
for i in "python":
 print(i)

p
y
t
h
o
n

**Function**

In [ ]:
#function without arguments
def greet():
  print("HELLO WORLD")
greet()

HELLO WORLD

In [ ]:
#function with Argument
def sum(a,b):
  c=a+b
  print(c)
sum(10,20)

30

In [ ]:
#function with return statement
def sum(a,b):
  c=a+b
  return c
print(sum(10,20)+30)

60

In [ ]:
#function with Argument
def sum(a,b):
  c=a+b
  #print(c)
print(sum(10,20))

None

**DATA COLLECTION**  :-
**LIST /  TUPLE/ SET/ DICTIONARY **
**IT CONTAIN MULTIPLE DATA TYPES**

In [ ]:
l=[0,20,30,"HELLO WORLD"]
print(type(l))
print(l)
c=[]
c=list()
c.append("Apple")
print(c)
c.extend(["Banana","mango"])
print(c)
c.insert(1,"Orange")
print(c)

print(c[0:2])
#c.remove("Banana")
#c.pop(1)
#del c[3]

#Len,index,min,max,sum,count
count =len(c)
print(count)

<class 'list'>
[0, 20, 30, 'HELLO WORLD']
['Apple']
['Apple', 'Banana', 'mango']
['Apple', 'Orange', 'Banana', 'mango']
['Apple', 'Orange']
4

**Number is prime or composite**

In [ ]:
n=int(input("Enter the number:"))
is_prime = False
for i in range(2,n):
  if(i % n==0):
    is_prime = False
    break
  else:
      is_prime=True
if is_prime:
   print("The given number is Prime")
else:
   print("The given number is Composite")

Enter the number:5
The given number is Prime

**COMPREHENSION**

In [ ]:
#EXPRESSION FOR ITEM IN ITERABLE
l = [x**2 for x in range(1, 100)]
print(l)
l = [x for x in range(0, 100) if x % 2 == 0]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

**even prime number**

In [ ]:
for num in range(2,100):
  is_prime = False
  for i in range(2,num):
    if(num % i==0):
      is_prime = False
      break
    else:
      is_prime=True
  if is_prime:
    print(num," given number is Prime")
  else:
    print(num," given number is Composite")

2  given number is Composite
3  given number is Prime
4  given number is Composite
5  given number is Prime
6  given number is Composite
7  given number is Prime
8  given number is Composite
9  given number is Composite
10  given number is Composite
11  given number is Prime
12  given number is Composite
13  given number is Prime
14  given number is Composite
15  given number is Composite
16  given number is Composite
17  given number is Prime
18  given number is Composite
19  given number is Prime
20  given number is Composite
21  given number is Composite
22  given number is Composite
23  given number is Prime
24  given number is Composite
25  given number is Composite
26  given number is Composite
27  given number is Composite
28  given number is Composite
29  given number is Prime
30  given number is Composite
31  given number is Prime
32  given number is Composite
33  given number is Composite
34  given number is Composite
35  given number is Composite
36  given number is Composite
37  given number is Prime
38  given number is Composite
39  given number is Composite
40  given number is Composite
41  given number is Prime
42  given number is Composite
43  given number is Prime
44  given number is Composite
45  given number is Composite
46  given number is Composite
47  given number is Prime
48  given number is Composite
49  given number is Composite
50  given number is Composite
51  given number is Composite
52  given number is Composite
53  given number is Prime
54  given number is Composite
55  given number is Composite
56  given number is Composite
57  given number is Composite
58  given number is Composite
59  given number is Prime
60  given number is Composite
61  given number is Prime
62  given number is Composite
63  given number is Composite
64  given number is Composite
65  given number is Composite
66  given number is Composite
67  given number is Prime
68  given number is Composite
69  given number is Composite
70  given number is Composite
71  given number is Prime
72  given number is Composite
73  given number is Prime
74  given number is Composite
75  given number is Composite
76  given number is Composite
77  given number is Composite
78  given number is Composite
79  given number is Prime
80  given number is Composite
81  given number is Composite
82  given number is Composite
83  given number is Prime
84  given number is Composite
85  given number is Composite
86  given number is Composite
87  given number is Composite
88  given number is Composite
89  given number is Prime
90  given number is Composite
91  given number is Composite
92  given number is Composite
93  given number is Composite
94  given number is Composite
95  given number is Composite
96  given number is Composite
97  given number is Prime
98  given number is Composite
99  given number is Composite

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
#sequence of character
for i in l:
  print("Character",i)
#sequence of numbers
for i in range(1,len(l)):
  print("Index",l[i])

Character 1
Character 2
Character 3
Character 4
Character 5
Character 6
Character 7
Character 8
Character 9
Index 2
Index 3
Index 4
Index 5
Index 6
Index 7
Index 8
Index 9

**print 1 to 10 natural number**

In [ ]:
i =1
while i<=10:
  print(i," ")
  i = i+1

1
2
3
4
5
6
7
8
9
10

**Tuple**

In [ ]:
t1 = (5,4,3,2,1)
sum=0
for k in t1:
  print(k)
  sum = sum+k
print("The sum of the tuple elements is",sum)

5
4
3
2
1
The sum of the tuple elements is 15

**LIST**

In [ ]:
l1=[5,4,3,2,1]

print(l1)
#For loop
for i in range(len(l1)):
  print(l1[i],end=" ")
  #FOR EACH LOOP
l1.append(10)
l1.append(20)
l1.remove(5)
del l1[1]
print()
for k in l1:
  print(k)

[5, 4, 3, 2, 1]
5 4 3 2 1
4
2
1
10
20

In [ ]:
n = int(input("Enter the number of stars"))
for i in range(n):
  print(i* " **")

Enter the number of stars4

 **
 ** **
 ** ** **

 **SET**

In [ ]:
s1={5,4,3,2,6,78,8,9}
print(s1)
s1.add(55)
s1.remove(5)
print(s1)
for k in s1:
  print(k)

{2, 3, 4, 5, 6, 8, 9, 78}
{2, 3, 4, 6, 8, 9, 78, 55}
2
3
4
6
8
9
78
55

**DICTIONARY**

In [ ]:
d1={}
d2={1:"ram",2:"mahesh",3:"Prabhas",4:"Arjun",5:"Divya"}
print(d2[5])
print(d2)
d2[6]= "Shubham"
d2[4]="Abhay"
del d2[1]
for k in d2.keys():
  print(k,"--->",d2[k])

Divya
{1: 'ram', 2: 'mahesh', 3: 'Prabhas', 4: 'Arjun', 5: 'Divya'}
2 ---> mahesh
3 ---> Prabhas
4 ---> Abhay
5 ---> Divya
6 ---> Shubham

**square pattern**

In [ ]:
n = int(input("Enter the number of stars"))
for i in range(n):
  for i in range(n):
    print("[ ]",end=" ")
print()

Enter the number of stars4
[ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ] [ ]